<html layout:decorate="~{layout}">

<section layout:fragment="corpo">

	<div class="content-wrapper">

		<section class="content-header">
			<h1>
				Agendamento <small>Cadastre aqui um novo Agendamento</small>
			</h1>
			<ol class="breadcrumb">
				<li><a href="/"> Home</a></li>
				<li class="active">Agendamento</li>
			</ol>
		</section>

		<section class="content">

			<div th:replace="fragments/alert"></div>

			<div class="box box-info">

				<div class="box-header with-border">
					<h3 class="box-title">Informe os Dados para Agendamento</h3>
				</div>

				<form th:action="${id == null} ? @{salvar} : @{../editar}"
					th:object="${agendamento}" method="POST">
					<input id="id" type="hidden" th:field="*{id}">

					<div class="box-body">

						<div class="col-md-2">
							<div class="form-group">
								<label for="dataAgenda">Data cadastro</label>
								<div class="input-group date">
									<div class="input-group-addon">
										<i class="fa fa-calendar"></i>
									</div>
									<input id="dataAgenda" type="text"
										class="form-control pull-right datepicker"
										th:field="*{dataAgenda}" autocomplete="off"
										placeholder="dd/mm/yyyy">
								</div>
							</div>
						</div>
						
					</div>

					<div class="box-footer">

						<a class="btn btn-default" href="javascript:history.back()"><i
							class="fa fa-undo"></i> Cancelar</a>

						<div class="pull-right">


							<button th:if="${id != null}" th:id="${'/btn_excluir/' + id}"
								type="button" class="btn btn-danger" data-toggle="modal"
								data-target="#myModal">
								<i class="fa fa-trash"></i> Excluir
							</button>

							<button type="submit" class="btn btn-primary">
								<i class="fa fa-save"></i> Salvar
							</button>

						</div>

					</div>

				</form>
			</div>
		</section>
	</div>

	<div th:replace="fragments/modal :: modal"></div>

</section>
</html>