<html>

<header class="main-header">

    <!-- Logo -->
    <a th:href="@{/admin}" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><i class="fa fa-stethoscope"></i></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><i class="fa fa-stethoscope"></i> <text th:text="#{app.page.siderbar}">...</text></span>
    </a>

    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">

          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

              <!-- User Account: style can be found in dropdown.less -->
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img th:src="@{/dist/img/avatar5.png}" class="user-image" alt="User Image">
                  <span class="hidden-xs" th:text="${usuarioLogadoNome}">Usuario Logado</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- User image -->
                  <li class="user-header">
                    <img th:src="@{/dist/img/avatar5.png}" class="img-circle" alt="User Image">

                    <p>
                      <span th:text="${usuarioLogadoNome}">Usuario Logado</span>
                      <small th:text="${usuarioLogadoGrupo}">...</small>
                    </p>
                  </li>

                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <!-- <div class="pull-left">
                      <a href="#" class="btn btn-default btn-flat">Perfil</a>
                      </div> -->
                    <div class="pull-right">
                      <a th:href="@{/auth/login?logout}" class="btn btn-default btn-flat">Sair</a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </ul>
      </div>
    </nav>
  </header>

</html>
