<!-- sidebar: style can be found in sidebar.less -->
<aside class="main-sidebar">
	<section class="sidebar">

		<ul class="sidebar-menu" data-widget="tree">

			<li class="header">NAVEGAÇÃO PRINCIPAL</li>

			<li class="treeview">

				<a href="#"> <i	class="fa fa-folder-open-o"></i><span>Cadastros</span> 
					<span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i></span>
				</a>

				<ul class="treeview-menu">
					<li>
						<a th:href="@{/admin/convenio/lista}"><i class="fa fa-heartbeat"></i>Convênios</a>
					</li>

					<li>
						<a th:href="@{/admin/especialidade/lista}"><i class="fa fa-medkit"></i> Especialidades</a>
					</li>

					<li>
						<a th:href="@{/admin/medico/lista}"><i class="fa fa-user-md"></i> Médicos</a>
					</li>

					<li>
						<a th:href="@{/admin/paciente/lista}"><i class="fa fa-wheelchair"></i> Pacientes</a>
					</li>

				</ul>

			</li>

			<li><a th:href="@{/admin/agendamento/lista}"><i class="fa fa-calendar-check-o"></i> <span>Agendamento</span></a></li>
			
			<li><a th:href="@{/admin/anamnese/lista}"><i class="fa fa-medkit"></i> <span>Anamnese</span></a></li>

			<li class="treeview">

				<a href="#"> <i	class="fa fa-unlock-alt"></i><span>Autenticação</span> 
					<span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i></span>
				</a>

				<ul class="treeview-menu">
					<li>
						<a th:href="@{/admin/usuario/lista}"><i	class="fa fa-user"></i>Usuários</a>
					</li>

					<li>
						<a th:href="@{/admin/usuario-grupo/lista}"><i class="fa fa-group"></i> Grupos</a>
					</li>
				</ul>

			</li>

		</ul>

	</section>
	<!-- /.sidebar -->
</aside>
